{% extends 'admin/admin_base.html' %} {% block content %}
{% comment %} <h2>{% if form.instance.pk %}Update{% else %}Create{% endif %} Coupon</h2>
<form method="post">
  {% csrf_token %}   
   <div class="form-group">
    {{ form.as_p }}
  </div>
  <button type="submit"class="btn btn-primary">Save</button>
</form> {% endcomment %}
<style>
  .form-group label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
  }
  .form-group input[type=text], 
  .form-group input[type=date], 
  .form-group input[type=number] {
      width: 40%;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-bottom: 20px;
  }
  .form-group input[type=submit] {
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
  }
</style>
<h2>{% if form.instance.pk %}Update{% else %}Create{% endif %} Coupon</h2>
<form method="post">
    {% csrf_token %}   
    <div class="form-group">
        <label for="{{ form.coupon_code.id_for_label }}">Coupon Code</label>
        {{ form.coupon_code }}
    </div>
    <div class="form-group">
        <label for="{{ form.discount_percentage.id_for_label }}">Discount Percentage</label>
        {{ form.discount_percentage }}
    </div>
    <div class="form-group">
        <label for="{{ form.expiry_date.id_for_label }}">Expiry Date</label>
        {{ form.expiry_date }}
    </div>
    <div class="form-group">
        <label for="{{ form.minimum_purchase_amount.id_for_label }}">Minimum Purchase Amount</label>
        {{ form.minimum_purchase_amount }}
    </div>
    <input type="submit"class="btn btn-primary" value="Save">
</form>
{% endblock %}
