{%extends 'base.html'%}
{%load static%}
{% block content %}

    <div class="container">
 
    <div class="col-lg-8">
  <h4> Cart List</h4>
    </div>
    
    </div>

   
    
    <section class="cart_area padding_top ">
    <div class="container">
        {%if not cart_items%}
<h2 class="text-center">Your shopping cart is empty</h2>
<div class="text-center">
    <a class="btn_1" href="{%url 'store'%}">Continue shopping..</a>
</div>
        {%else%}

    <div class="cart_inner">
    <div class="table-responsive">
    <table class="table">
    <thead>
    <tr style="height:2px;">
       
    <th scope="col">Product</th>
    <th scope="col">Price</th>
    <th scope="col">Quantity</th>
    <th scope="col">Total</th>
    </tr>
    </thead>

    <tbody>
 {% for cart_item in cart_items%}
       
    <tr>
    <td>

    <div class="media">
    <div class="d-flex">
    <img style="height:71px"  src="{{cart_item.product.images.url}}" alt=""/>
    </div>
    <div class="media-body">
    <p>{{cart_item.product.product_name}}</p>
    </div>
    </div>
    </td>
    <td>
    <h5>${{cart_item.product.price}}</h5>
    </td>
    <td>
        <div class="product_count">

            <a href="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}" class="input-number-decrement"> <i class="ti-angle-down"></i></a>
            <input class="input-number" type="number" value="{{cart_item.quantity}}"min="0" max="10">
            <a href="{% url 'add_to_cart' cart_item.product.id %}" class="input-number-increment"> <i class="ti-angle-up"></i></a>
        </div>
        
    </td>

    <td>
    <h5>{{cart_item.sub_total}}</h5>
    </td>

     <td class="text-right">
       <a href="{% url 'remove_cart_products' cart_item.product.id %}"> <i class="fa fa-remove" style="font-size:30px;color:red"></i></a> 
       
    </td> 

    </tr>
    {% endfor %}

   
    <td></td>
    <td></td>
    <td>
        <br>
    <h5>Total price 
    <br>
    <br>
    <h5>Tax  </h5>
    <br>
    <br>
    <br>
    <h5>Grand Total  </h5>
    </td>
    <td>
        <br>
    <h5>$ {{total}}</h5>
    <br>
    <h5>$ {{tax}}</h5>
    <br>
    <hr>
    <h5>$ {{grand_total}}</h5>
    </td>
    </tr>
    </ul>
    </div>
    </td>
    </tr>
    </tbody>
    </table>

    {%if not cart_items%}
<h2 class="text-center">Your shopping cart is empty</h2>
<div class="text-center">
    <a class="btn_1" href="{%url 'store'%}">Continue shopping..</a>
</div>
        {%endif%}

    <div class="checkout_btn_inner float-right">
    <a class="btn_1" href="{%url 'store'%}">Continue Shopping</a> 
    <a class="btn_1 checkout_btn_1" href="{%url 'checkout'%}">Proceed to checkout</a>
    </div>
    </div>
    {%endif%}
    </div>
    </section> 
{% endblock content %}